@model TPAnime.Core.Autor;
@{
   Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Agregar Autor</title>
</head>
<body>
    <form asp-action="AgregarAutor" method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Nombre">Nombre:</label>
            <input asp-for="Nombre" />
        </div>
        <button type="submit">Alta Autor</button>
    </form>
    <a asp-controller="Autor" asp-action="Index">Atras</a>
</body>
</html>