@using TPAnime.Core;
@model IEnumerable<Autor>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Lista</title>
</head>
<body>
    <a>Eliminar Autor</a>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Animes Creados</td>
            </tr>
        </thead>
        <tbody>
            @foreach (TPAnime.Core.Autor autor in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Autor" asp-action="EliminarAutor" method="delete"asp-route-id="@autor.Id"
                        style="text-decoration: none; color: black">@autor.Nombre</a>
                    </td>

                </tr>
            }

            @* <p>Agregar un autor:</p> *@
        </tbody>
    </table>
</body>
</html>