@using TPAnime.Core;
@model IEnumerable<Autor>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>Lista</title>
</head>

<body>
    <a>Alta Autor</a>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Animes Creados</td>
            </tr>
        </thead>
        <tbody>
            @foreach (TPAnime.Core.Autor autor in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Autor" asp-action="Index" asp-route-id="@autor.Id"
                        style="text-decoration: none; color: black">@autor.Nombre</a>
                    </td>
                    <td>
                        <form asp-controller="Autor" asp-action="EliminarAutor" method="post">
                            <input type="hidden" asp-for="@autor.Id" />
                            <button type="submit">Eliminar</button>
                            <a asp-controller="Autor" asp-action="ActualizarAutor" asp-route-id="@autor.Id">Actualizar</a>
                        </form>  
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a asp-controller="Autor" asp-action="AgregarAutor">Agregar un nuevo autor</a>

    @* <a asp-controller="Autor" asp-action="EliminarAutor">Eliminar un autor</a> *@
</body>

</html>