@using TPAnime.Core;
@model IEnumerable<Autor>

<!DOCTYPE html>
<html>
<head>
    <title>Lista</title>
</head>
<body>
    <a>Alta Autor</a>
    <h5>Categorias</h5>
    <table>
        <thead>
            <tr><td>Nombre</td><td>Animes</td></tr>
        </thead>
    </table>
</body>
</html>