@using TPAnime.Core;
@model IEnumerable<Estudio>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>ListaEstudio</title>
</head>

<body>
    <a>Alta Estudio</a>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Domicilo</td>
            </tr>
        </thead>
        <tbody>

            @foreach (Estudio estudio in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Estudio" asp-action="Index" asp-route-id="@estudio.Id">@estudio.Nombre</a>
                    </td>
                    <td>
                        <a asp-controller="Estudio" asp-action="Index" asp-route-id="@estudio.Id">@estudio.Domicilio</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Estudio" asp-action="AgregarEstudio">Agregar un nuevo estudio</a>
</body>

</html>