@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <title>Mercado Simple</title>
</head>
<body>
    <h2>Elegi donde entrar</h2>
    <a asp-controller="Autor" asp-action="Index">Categorias</a>
    @* <a asp-controller="Producto" asp-action="Index">Productos</a> *@
</body>
</html>