
<!DOCTYPE html>
<html>
<head>
    <title>Mercado Simple</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <div class="contenedor">
       <div class="imagen">
        <img  src="~/img/demonslayer.png"  class="img-fluid" alt="...">
       </div>
        <div class="opciones">
            @* <h2><b>Tablas</b></h2> *@
            <a class="opcion" asp-controller="Autor" asp-action="Index"><button type="button" class="btn opcion"><b>Autores</b></button></a>
            <a class="opcion" asp-controller="Estudio" asp-action="Index"><button type="button" class="btn opcion"><b>Estudios</b></button></a>
            <a class="opcion" asp-controller="Anime" asp-action="Index"><button type="button" class="btn opcion"><b>Animes</b></button></a>
        </div>
        <div class="imagen">
            <img src="~/img/tanjiro.png"  class="img-fluid" alt="...">
        </div>
        
    </div>
    
</body>
</html>