@model string
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Primer Ejemplo</title>
</head>
<body>
    <h1>Mundo MVC</h1>
    <p>@Model primer ejemplo de la vista</p>
</body>
</html>